@import url("https://fonts.googleapis.com/css?family=Timmana");

* {
  font-family: "Timmana";
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20rem;
}

/* icon */
.logo {
  justify-content: end;
  width: 100%;
  position: relative;
  right: -90%;
  font-size: 1.2rem;
}

/* containers */
.main-container {
  display: flex;
  width: 80vw;
  max-width: 50rem;
  height: 25rem;
  border: solid 3px orange;
  background-color: rgb(210, 207, 202);
  justify-content: space-between;
  flex-wrap: wrap;
}

/* !768px 
main containers + logo*/
@media (max-width: 768px) {
  .main-container {
    height: 80vh;
    flex-direction: column;
    align-items: center;
  }

  .App {
    margin-top: 5rem;
  }

  .logo {
    right: -85%;
  }
}

.left-container,
.right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 45%;
}

/* left side */

.pad-container {
  width: 95%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0rem 0 1.5rem 3rem;
}

.extra-container {
  margin: 0 5px;
  padding: 0;
}

.drum-pad {
  padding-top: 1rem;
  font-size: 2rem;
  width: 6rem;
  height: 6rem;
  border-radius: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #747370;
  border: solid 0.5px black;
  -webkit-box-shadow: 1px 1px 11px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 11px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 11px -2px rgba(0, 0, 0, 0.75);
}
/*! 1000px 
Drum pads*/
@media (max-width: 1000px) {
  .pad-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    margin: 0rem 0 1.5rem 3rem;
  }

  .extra-container {
    /* border: solid 1px lime; */
    display: flex;
    justify-content: center;
  }

  .drum-pad {
    max-width: 100%;
    /* font-size: 1.5rem; */
  }
}
/* ! 768px 
pad-container */
@media (max-width: 768px) {
  .pad-container {
    margin: auto;
  }
}

/*! 515px 
drum pads */
@media (max-width: 515px) {
  .pad-container {
    display: grid;
    gap: 0.3rem;
    margin: 0;
    padding: 0;

    /* max-width: 4rem; */
  }

  .extra-container {
    /* border: solid 1px lime; */
    display: flex;
    justify-content: center;
  }

  .drum-pad {
    /* max-height: 5rem; */

    /* max-width: 3rem; */
    font-size: 1.5rem;
  }
}

/*! 430px 
drum pads + logo*/
@media (max-width: 430px) {
  .pad-container {
    display: grid;
    gap: 0.3rem;
    margin: 0;
    padding: 0;

    /* max-width: 4rem; */
  }

  .extra-container {
    /* border: solid 1px lime; */
    display: flex;
    justify-content: center;
  }

  .drum-pad {
    height: 4.5rem;

    font-size: 1.5rem;
    width: 4.5rem;
  }

  .logo {
    right: -80%;
  }
}

/* ! 360px 
logo */
@media (max-width: 360px) {
  .logo {
    right: -75%;
  }
}

/*! 335px
drum pads */
@media (max-width: 335px) {
  .pad-container {
    display: grid;
    gap: 0.3rem;
    margin: 0;
    padding: 0;

    /* max-width: 4rem; */
  }

  .extra-container {
    /* border: solid 1px lime; */
    display: flex;
    justify-content: center;
  }

  .drum-pad {
    height: 3.5rem;

    font-size: 1.5rem;
    width: 3.5rem;
  }
}

.drum-pad:hover {
  cursor: pointer;
}

/* right side */
/** switches */
.switch-container {
  width: 3rem;
  height: 1rem;
  margin-bottom: 1rem;
  background-color: black;
  display: flex;
  justify-content: end;
  align-items: center;
}

.off {
  justify-content: start;
}

.switch-container > div {
  width: 40%;
  background-color: blue;
  height: 80%;
  margin: 10%;
}

.switch-container > div:hover {
  cursor: pointer;
}

h3:last-of-type {
  margin-top: 2rem;
}

p {
  margin-bottom: 0;
}
/** switches */

button {
  width: 60%;
  height: 4rem;
  background-color: rgb(116, 115, 112);
  border: none;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  button {
    width: 100%;
  }
}

/**volume slider  */

.slider {
  width: 80%;
  height: 0.3rem;
  /* background-color: black; */
  margin-top: 2rem;
}

#volume {
  width: 100%;
  height: 10px;
  background-color: black;
  color: black;
}

input[type="range"] {
  height: 30px;
  -webkit-appearance: none;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #112cd9;
  background: #000000;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #0008f0;
  height: 22px;
  width: 8px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.5px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #000000;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #112cd9;
  background: #000000;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #0008f0;
  height: 22px;
  width: 8px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #000000;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #112cd9;
}
input[type="range"]::-ms-fill-upper {
  background: #000000;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #112cd9;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #0008f0;
  height: 22px;
  width: 8px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #000000;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #000000;
}
